<div id="<%= dom_id hotel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= hotel.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= hotel.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= hotel.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number of rooms:</strong>
    <%= hotel.number_of_rooms %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= hotel.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this hotel", hotel, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this hotel', edit_hotel_path(hotel), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
